@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
    
    background-color: #0d0d0d;

}

video {

    z-index: -1;
    max-width: none;

}

#background-video
{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


ul li a:hover {

	color: #F1CCBA;

}

/* ul {


  background-color: #1e1e1eee !important;


} */





#heroContainer
{
  /* height: 59vh; */
}

#hero-h1 {
  
  background: linear-gradient(90deg, #23714D, #e6ffe6);
  -webkit-background-clip: text;
  color: transparent; 

  font-family: 'Cinzel', serif;


}

#hero-text {

  color: white;
  /* text-shadow: 1px 1px 1px #ffffff8a, 
               1px 1px 7px #ffffff8a; */

}


#frontend-developer
  {
    color: #23714D;
  }

#aboutMe-container
{
  background: transparent;
  backdrop-filter: blur(20px);
}

#hero-button {

  background-color: #23714D;
  color: #fff;
  /* font-size: 13px; */
  border-radius: 50px;
  padding: 12px 22px;
  cursor: pointer;
  font-weight: 500;

}

#hero-button:hover 
{
	background: #0d0d0d;
	color: #23714D;
}

#aboutMe-h2
{
  z-index: 1;
  position: relative;
  color: #36b077;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 25px ;
}

/* #aboutMe-h2::before
 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 60px;
  height: 4px;
  background: #23714D;
  z-index: 1;

} */

#aboutMe-p 
{
  /* text-align: left; */
}

#aboutMe-p:hover 
{
  /* background: rgb(38, 38, 38, .5); */
  transition: .5s;
}


#projects-image
{
	transition: 1.5s;
  border: 1px solid #23714D;
}

#projects-div
{
	transition: 1.5s;
  transform: scale(1.0);
}

#projects-div:hover
{
  background: #1a1a1a46;
	transition: 1.5s;
  transform: scale(1.10);
}

#projects-div-hidden
{
  visibility: hidden;
}

/* Button information */

#button-information {
  min-width: 130px;
  /* height: 40px; */
  color: #fff;
  padding: 5px 10px;
  /* font-weight: bolder; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #495057;
  background: #495057;
}

#button-information:hover {
  background: #fff;
  color: #495057
}


/* -------- */

#services-img:hover
{

  background: #1a1a1a;
	transition: 1.5s;
  transform: scale(1.03);

}


/*----------  */

#proyecto-div
{
 border: 1px solid #23714D;
}


/* ---------- */

#div-hover-skills:hover
{
  transition: .3s;
  transform: scale(1.10);
}

/* -------- */

#java-logo-svg
{
  fill: #9CA3AF;
}

#java-logo-svg:hover
{
  fill: #f7df1e;
}

/* ------ */




@media screen and (max-width: 380px) {
    

    #hero-button 
    {
      font-size: 13px;
    }

  }


  /* ---Skills---- */
#projectPersonal
{
  background: transparent;
  backdrop-filter: blur(50px);
}
